<div id="assessment-list" class="container">
	<div class="panel panel-info">
		<div class="panel-heading"><h3>Client Assessments</h3></div>
		<div class="panel-body">
        	<a href="#/createNewAssessment" id="add-assessment" role="button" class="btn btn-action pull-right"><span class="glyphicon glyphicon-plus"></span> New Assessment</a>
		</div>
<!-- 
	  	<table class="table table-hover">
 -->
  	    <table class="table table-striped table-bordered table-hover table-condensed instances">
  	    <thead>
    	 <tr>
    	    <th><a href="#" class="sortable">Client</a></th>
  	        <th><a href="#" class="sortable">Start Date</a></th>
            <th><a href="#" class="sortable">Security Framework</a></th>
            <th><a href="#" class="sortable">Analyst</a></th>
            <th><a href="#" class="sortable">Status</a></th>
            <th><a href="#" class="sortable">% Complete</a></th>
            <th><a href="#" class="sortable">View details</a></th>
  	      </tr>
  	    </thead>

        <tbody data-bind="foreach: assessments">
	  		<tr data-bind="attr:{'assess_id': client_assess_id, 'client_name': client_name, 'start_date': assessment_date, 'client_id': client_id,
	  				'standard_type': standard_type, 'contact_name': contact_name, 'assessed_by': assessed_by, 'status': status, 
	  				'total_controls': total_controls, 'complete_percentage': complete_percentage, 'avg_score':avg_score, 'urlLink': urlLink }">
  		      <td><a class="assess_row" data-bind="attr: { href: urlLink }"><span data-bind="text: client_name"></span></a></td>
  		      <td><a class="assess_row" data-bind="attr: { href: urlLink }"><span data-bind="text: assessment_date"></span></a></td>
  		      <td><a class="assess_row" data-bind="attr: { href: urlLink }"><span data-bind="text: standard_type"></span></a></td>
  		      <td><a class="assess_row" data-bind="attr: { href: urlLink }"><span data-bind="text: assessed_by"></span></a></td>
  		      <td><a class="assess_row" data-bind="attr: { href: urlLink }"><span data-bind="text: status"></span></a></td>
	          <td><a class="assess_row" data-bind="attr: { href: urlLink }"><span data-bind="text: complete_percentage"></span> %</a></td>
	          <td><a data-bind="attr: { href: urlLink }" class="assess_row btn btn-default btn-xs">Select &raquo</a></td>
	  		</tr>
  	    </tbody>

  	  </table>
    </div>
</div>