<td style="white-space: pre-wrap;"><span class="glyphicon glyphicon-file"></span> <b><%= note_created_by %></b>   <small><%= note_entry_date %></small>
<%= notes %><a href="#delete-interview-notes" class="remove-notes delete"><span class="glyphicon glyphicon-trash pull-right"></span></a><span class="pull-right"> </span></td>

<!--
<%= notes %><a href="#delete-interview-notes" class="remove-notes delete"><span class="glyphicon glyphicon-trash pull-right"></span></a><span class="pull-right"> </span><a href="#edit-interview-notes" class="edit-notes updateNotes"><span class="glyphicon glyphicon-pencil pull-right"></span></a></td>

	<td><%= note_entry_date %> <%= note_created_by %>: <%= notes %></td>
  		<td><%= note_entry_date %></td>
 		<td><%= note_created_by %></td>
		<td><%= notes %></td>
 -->
