<div id="category-list" class="container">
	<div class="panel panel-info">
		<div class="panel-heading"><h3><span data-bind="text: client_name"></span>: <span data-bind="text: standard_type"></span></h3></div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-5">
				    <div class="form-container">
   					 <form class="form-horizontal" role="form">
	      				<fieldset>
				        <div class="form-group">
							<label class="col-sm-5 control-label">Assessment Date:</label>
							<div class="col-sm-7">
								<p class="form-control-static"><span data-bind="text: start_date"></span></p>
							</div>
						</div>
						
				        <div class="form-group">
							<label class="col-sm-5 control-label">Assessor:</label>
							<div class="col-sm-7">
								<p class="form-control-static"><span data-bind="text: assessed_by"></span></p>
							</div>
						</div>
					</fieldset>
					</form>
					</div>			
				</div>

				<div class="col-sm-4">
				    <div class="form-container">
   					 <form class="form-horizontal" role="form">
	      				<fieldset>
				        <div class="form-group">
							<label class="col-sm-5 control-label">% Complete</label>
							<div class="col-sm-7">
								<p class="form-control-static"><span data-bind="text: complete_percentage"></span> %</p>
							</div>
						</div>
						
				        <div class="form-group">
							<label class="col-sm-5 control-label">Average Score</label>
							<div class="col-sm-7">
								<p class="form-control-static"><span data-bind="text: avg_score"></span></p>
							</div>
						</div>						
						</fieldset>
					</form>
					</div>
				</div>
				
				<div class="col-sm-3">
				    <div class="form-container">
   					 <form class="form-horizontal" role="form">
	      				<fieldset>
				        <div class="form-group">
							<label class="col-sm-6 control-label"># of Controls</label>
							<div class="col-sm-6">
								<p class="form-control-static"><span data-bind="text: total_controls"></span></p>
							</div>
						</div>
						</fieldset>
					</form>
					</div>
				</div>
			</div>
			
			<hr>

			<a href="#/assessments" id="client-assessment" role="button" class="btn btn-success pull-left">
				<span class="glyphicon glyphicon-circle-arrow-left"></span> Client Assessment</a>
				
        	<a href="#/dashboard/scoring" id="dashboard" role="button" class="btn btn-primary btn-labeled pull-right" data-bind="visible: assess_id()=='16'">
        		<span class="btn-label"><i class="glyphicon glyphicon-stats"></i></span>Dashboard</a>

        	<a href="#/dashboard/mbta_scoring" id="dashboard" role="button" class="btn btn-primary btn-labeled pull-right" data-bind="visible: assess_id()=='26'">
        		<span class="btn-label"><i class="glyphicon glyphicon-stats"></i></span>Dashboard</a>
		</div>

  	  <table class="table table-striped table-bordered table-hover table-condensed instances">
  	    <thead>
    	  <tr>
    	    <th><a href="#" class="sortable">Function</a></th>
    	    <th><a href="#" class="sortable">Category</a></th>
  	        <th><a href="#" class="sortable"># of Controls</a></th>
  	        <th><a href="#" class="sortable">Completed</a></th>
<!--        <th><a href="#" class="sortable">% Complete</a></th>  -->
            <th><a href="#" class="sortable">In Progress</a></th>
            <th><a href="#" class="sortable">Average Score</a></th>
  	      </tr>
  	    </thead>
 
        <tbody data-bind="foreach: categories">
	  		<tr data-bind="attr:{'control_category_id': control_category_id, 'control_function_name': control_function_name, 'identifier': identifier, 'control_category_name': control_category_name, 'controlCnt':controlCnt, 'complete_percentage':complete_percentage, 'avg_score':avg_score, urlLink: urlLink }">
  		      <td><a class="cat_row" data-bind="attr: { href: urlLink }"><span data-bind="text: control_function_name"></span></a></td>
  		      <td><a class="cat_row" data-bind="attr: { href: urlLink }"><b><span data-bind="text: identifier"></span></b>-<span data-bind="text: control_category_name"></span> <span class="label label-warning" data-bind="visible: dfarsCnt()!='0'"><small>DFARS (<span data-bind="text: dfarsCnt"></span>)</small></span></a></td>
  		      <td><span data-bind="text: controlCnt"></span></td>
  		      <td><span data-bind="text: completeCnt"></span></td>
<!--	      <td><span data-bind="text: complete_percentage"></span> %</td>  -->
  		      <td><span data-bind="text: inProgressCnt"></span></td>
	          <td><span data-bind="text: avg_score"></span></td>
	  		</tr>
  	    </tbody>

  	  </table>
    </div>
</div>
    