<div class="container">
  <div class="controls-nav">
    <ul class="nav nav-tabs">
      <li><a href="#/controlFamilyList" >Control Family</a></li>
      <li class="active"><a href="#/controlQuestionList/1" >Security Controls</a></li>
<!--       <li class="active"><a href="#/securityControlList" >Security Controls</a></li>
 -->      
      <li><a href="#/addNewControl">Add New Control</a></li>
    </ul>
  </div>


<br>

<div class="container">

<div class="panel panel-default">

  <div class="panel-heading">
    <h4>SAIC - NIST 800-53 (Revision 3)</h4>

  </div>

    <div class="panel-body">


    <div class="form-container">

    <form class="form-horizontal" role="form">

      <fieldset>
<!--         <legend>SAIC - NIST 800-53 (Revision 3)</legend>
 -->
<!--         <div class="form-group">
          <label class="col-sm-3 control-label">Security Standard</label>
          <div class="col-sm-9">
            <p class="form-control-static">NIST 800-53 (Revision 3)</p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Client Name</label>
          <div class="col-sm-9">
            <p class="form-control-static">SAIC</p>
          </div>
        </div>
 -->
        <div class="form-group">
          <label class="col-sm-2 control-label">Assessment Start Date</label>
          <div class="col-sm-9">
            <p class="form-control-static">2013-11-11</p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Analyst</label>
          <div class="col-sm-9">
            <p class="form-control-static">Jeff Schroeder</p>
          </div>
        </div>

      </fieldset>
    </form>
  </div>
</div>
  </div>


</div> <!-- end /container -->


</div>