<!--     <div class="container">
 
      <form class="form-inline">
        <ul class="table-filters">
   -->        <!--<li><input type="text" class="form-control" placeholder="Threat-based Search" /></li>-->
 <!--          <li>
            <select class="form-control">
              <option><a href="#/controlQuestionList/1">AC-Access Control</a></option>
              <option><a href="#/controlQuestionList/2">AT-Awareness and Training</a></option>
              <option><a href="#/controlQuestionList/3">AU-Audit and Accountability</a></option>
            </select>
          </li>
 --><!--      <li>
            <button class="btn btn-primary">Add New Control</button>
          </li> -->
<!--         </ul>
      </form>
    </div>
 -->
    <div class="container">
      <table class="table table-hover table-bordered table-condensed instances">
        <thead>
          <tr>
            <th><a href="#" class="sortable">Control Number</a></th>
            <th><a href="#" class="sortable">Control Name</a></th>
            <th><a href="#" class="sortable">Complete</a></th>
            <th><a href="#" class="sortable">Score</a></th>
          </tr>
        </thead>

        <tbody>

        <% _.each(controlquestions, function(control_question) { %>
    		  <tr>
    		    <td><a href="#/questionDetails/<%= control_question.get('assess_question_id') %>"><%= control_question.get('control_number') %></a></td>
    		    <td><a href="#/questionDetails/<%= control_question.get('assess_question_id') %>"><%= control_question.get('control_name') %></a></td>
            <td>N</td>
            <td><%= control_question.get('score') === null ? 0 : control_question.get('score') %></td>
    		  </tr>
        <% }); %>

  	    </tbody>
  	  </table>
    </div>
