    <div class="container bs-docs-container">

      <div class="row">
        <div class="col-md-3">
          <div class="bs-sidebar" role="complementary">
            <ul class="nav bs-sidenav">

              <!-- display sidebar here -->
              <!-- <div id="mainSidebar"></div> -->
              <li class="active"><a href="#"><span class="badge pull-right">3.5</span><b>AC</b>-Access Control <span class="label label-primary">7</span></a></li>
              <li><a href="#"><span class="badge pull-right">2.5</span><b>AT</b>-Awareness and Training</a></li>
              <li><a href="#"><span class="badge pull-right">1.5</span><b>CA</b>-Securty Assessment and Authorization</a></li>
              <li><a href="#"><b>PE</b>-Physical and Environmental Protection   <span class="label label-primary">12</span></a></li>
              <li><a href="#"><b>SC</b>-System and Communications Protection</a></li>

            </ul>
  
            <a href="#new-project" id="add-project" class="btn pull-right"><i class="icon-folder-open"></i>&nbsp;&nbsp;Add Control</a>
  
          </div>

        </div>

        <div class="col-md-9" role="main">
          <div class="bs-docs-section">

          <!-- main display area -->
          <div id="toolsMainView"></div>

          <!-- main display sub-page area -->
          <div class="container">
            <div id="toolsSubTabPage"></div>
          </div>

        </div>
      </div>
    </div>
  </div>
