 
   <script data-main="js/config" src="js/libs/require.js"></script>
   <script src="js/libs/jquery.min.js"></script>
   <script src="js/libs/bootstrap.min.js"></script>
   <script src="js/libs/json-serialization.js"></script>
   <script src="js/libs/session.js"></script>
   <script src="js/application.js"></script>
   <script src="js/utils.js"></script>


	<div id="footer">
		<br><hr>
		<p>&copy; 2014 CyberSheath Services International, LLC | All Rights Reserved.</p>
	</div>

  </body>
</html>