<!DOCTYPE html>
<html>

  <head>

    <title>CyberShield</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-responsive.css" rel="stylesheet" media="screen">
    <link href="css/application.css" rel="stylesheet" type="text/css" />
    <link href="css/app.css" rel="stylesheet" type="text/css" />
    <link href="css/doc.css" rel="stylesheet" type="text/css" />

  </head>

  <body id="mainBody">

  	<div id="toolbar"></div>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#/manageClients">Clients</a></li>
          <li><a href="#/assessments">Client Assessments</a></li>
<!-- 
          <li><a href="#/manageEmployees/3">People</a></li>
 -->
          <li><a href="#">Tools</a></li>
          <li><a href="#">Cost of Defense</a></li>
          <li><a href="#">Metrics &amp; Analytics</a></li>
          <li><a href="#" >Effectiveness of Defense</a></li>
<!-- 
          <li><a href="#/controls">Security Controls</a></li>
 -->
        </ul>
      </div>
    </nav>

    <div id="header">

      <div class="container">

        <!-- logo -->
        <a href="#" id="logo"><img src="images/cybersheath-logo.png"></a>
        <span id="appheader">Assessment Console</span>

      </div><!-- end .container -->

    </div> <!-- end /header -->

