<div class="container" data-bind="visible: visible">
    <nav>
<!--  		<ul class="nav navbar-nav">
             <li class="dropdown">
             	<a href="" class="dropdown-toggle" data-toggle="dropdown">
             		<span data-bind="text: username"></span> <b class="caret"></b></a>
            	<ul class="dropdown-menu">
            		<li><a href="#">My Profile</a></li>
            	</ul>
            </li>
        </ul>
 -->
 		<ul class="navigation">
            <li class="no-link"><span data-bind="text: username"></span> </li>
            <li><a href="#/userProfile" data-bind="click: viewProfile">My Profile</a></li>
<!--             <li data-bind="visible: admin"><a href="#/createNewUser">Manage Users</a></li>
 -->            <li data-bind="visible: admin"><a href="#/manageUsers">Manage Users</a></li>
            
            <li class="logout"><a href="" data-bind="click: logout">Logout</a></li>
        </ul>
    </nav>
</div><!-- end .container -->
