<!DOCTYPE html>
<html>
  <head>
    <title>CyberShield</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-responsive.css" rel="stylesheet" media="screen">
    <link href="css/app.css" rel="stylesheet" type="text/css" />
    <link href="css/doc.css" rel="stylesheet" type="text/css" />


  </head>

  <body data-spy="scroll" data-target=".bs-sidebar">
      <div id="header">

        <!-- extra top links -->
        <div id="links">
            <a href="#">Eric Noonan</a>
            <a href="#">Settings</a>
            <a href="#">Logout</a>
        </div>

        <!-- logo -->
        <a href="#" id="logo"><img src="images/cybersheath-logo.png"></a>

        <span id="appheader">Command Center</span>

      </div> <!-- end header -->

<!--       <div id="navigation">
 -->        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="navbar-header">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#" nextpage="testtab.html">Security Control</a></li>
              <li><a href="#">People</a></li>
              <li><a href="#" nextpage="tool.html">Tool</a></li>
              <li><a href="#">Process</a></li>
              <li><a href="#" nextpage="control.html">Metrics &amp; Analytics</a></li>
              <li><a href="#" >Effectiveness of Defense</a></li>
              <!--<li><a href="#">Regulatory Compliance</a></li>-->
            </ul>
          </div>
        </nav>
<!--       </div> end #navigation
 -->




<!--
      <header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Base CSS</h1>
    <p class="lead">Fundamental HTML elements styled and enhanced with extensible classes.</p>
    <div id="carbonads-container"><div class="carbonad"><div id="azcarbon"></div><script type="text/javascript">var z = document.createElement("script"); z.type = "text/javascript"; z.async = true; z.src = "http://engine.carbonads.com/z/32341/azcarbon_2_1_0_HORIZDARK"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(z, s);</script></div></div>
  </div>
      </header>
-->



    <div class="container bs-docs-container">

      <div class="row">
        <div class="col-md-3">
        <div class="bs-sidebar" role="complementary">
          <ul class="nav bs-sidenav">
            <li><a href="#typography"><i class="icon-chevron-right"></i> Typography</a></li>
            <li><a href="#code"><i class="icon-chevron-right"></i> Code</a></li>
            <li><a href="#tables"><i class="icon-chevron-right"></i> Tables</a></li>
            <li><a href="#forms"><i class="icon-chevron-right"></i> Forms</a></li>
            <li><a href="#buttons"><i class="icon-chevron-right"></i> Buttons</a></li>
            <li><a href="#images"><i class="icon-chevron-right"></i> Images</a></li>
            <li><a href="#icons"><i class="icon-chevron-right"></i> Icons by Glyphicons</a></li>
          </ul>
        </div>
        </div>

      <div class="col-md-9" role="main">
        <div class="bs-docs-section">


              <!-- main display area -->
        <div id="mainView"></div>


         <section id="typography">
          <div class="page-header">
            <h1>Typography</h1>
          </div>

          <h2 id="headings">Headings</h2>
          <p>All HTML headings, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code> are available.</p>
          <div class="bs-docs-example">
            <h1>h1. Heading 1</h1>
            <h2>h2. Heading 2</h2>
            <h3>h3. Heading 3</h3>
            <h4>h4. Heading 4</h4>
            <h5>h5. Heading 5</h5>
            <h6>h6. Heading 6</h6>
            <h1>h1. Heading 1</h1>
            <h2>h2. Heading 2</h2>
            <h3>h3. Heading 3</h3>
          </div>
        </section>

        <!-- Code
        ================================================== -->
        <section id="code">
          <div class="page-header">
            <h1>Code</h1>
          </div>

          <h2>Inline</h2>
          <p>Wrap inline snippets of code with <code>&lt;code&gt;</code>.</p>
<div class="bs-docs-example">
  For example, <code>&lt;section&gt;</code> should be wrapped as inline.
</div>
<pre class="prettyprint linenums">
For example, &lt;code&gt;&amp;lt;section&amp;gt;&lt;/code&gt; should be wrapped as inline.
</pre>

          <h2>Basic block</h2>
          <p>Use <code>&lt;pre&gt;</code> for multiple lines of code. Be sure to escape any angle brackets in the code for proper rendering.</p>
<div class="bs-docs-example">
  <pre>&lt;p&gt;Sample text here...&lt;/p&gt;</pre>
</div>
<pre class="prettyprint linenums" style="margin-bottom: 9px;">
&lt;pre&gt;
  &amp;lt;p&amp;gt;Sample text here...&amp;lt;/p&amp;gt;
&lt;/pre&gt;
</pre>
          <p><span class="label label-info">Heads up!</span> Be sure to keep code within <code>&lt;pre&gt;</code> tags as close to the left as possible; it will render all tabs.</p>
          <p>You may optionally add the <code>.pre-scrollable</code> class which will set a max-height of 350px and provide a y-axis scrollbar.</p>
        </section>


        </div>

      </div>
      </div>

    </div> <!-- end container -->


    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/application.js"></script>
    <!--
    <script src="bootstrap/js/application.js"></script>
-->
<!--    <script src="js/highcharts.js"></script>
    <script src="js/loaddata.js"></script>
-->

  </body>
</html>